#group-info {
    display: inline-block;
    vertical-align: top;
}

#group-info th {
    min-width: 100px;
}

.list {
    min-width: 300px;
    height: 100%;
    overflow-y: scroll;
}

#person-info {
    display: inline-block;
    vertical-align: top;
}

#person-info th {
    min-width: 100px;
}

.tool {
	width: 32px;
    height: 32px;
    display: inline-block;
}

.toolbar {
    margin-bottom: 5px;
}

.search {
    display: inline-block;
}

.table {
	width: auto;

}
	
.column {
	width: auto;
	display: inline-block;
	vertical-align: top;
}

html, body {
	height: 100%;
}
